<h1>HOME</h1>
<% if user_signed_in? %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= link_to "あいてむのほーむ", items_path %>
<% else %>
<%= link_to "ログイン", new_user_session_path %>
<% end %>