<h1>Activities#index</h1>
<% @activities.each do |activity| %>
  <div class="activity">
    <% if activity.trackable_type == "Item" %>
      <%= activity.owner.email if activity.owner %> made <%= link_to activity.trackable.title, activity.trackable %> 
    <% else %>
      <%= activity.owner.email if activity.owner %> added comment to <%= link_to activity.trackable.item.title, activity.trackable.item %> 
    <% end %>
  </div>
<% end %>